# Stock Options Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import yfinance as yf
sns.set_style("whitegrid")
pd.set_option('display.max_columns', None)  # Set to display all columns of dataframes

## Data

Let us try to study the Black-Scholes Model, which require the information

i. ***Stock Price (S)***: the corresponding stock prices for each option.\

ii.***Strike Price (K)***: data under the column strike_price.

iii. ***Time to Expiry (T)***: subtracting the current date from the expiration date (exdate). Convert the resulting timedelta to years.

iv. ***Risk-free Interest Rate (r)***: determine an appropriate risk-free interest rate to use in the model. 

v. ***Volatility (σ)***: implied volatility, available in your data.

### Load options data and download stock data

In [2]:
current_dir = os.getcwd()
# print("Current directory:", current_dir)

# Read the CSV file into a DataFrame
options_data = pd.read_csv('../data/AMD_options_data.csv')

# Check if stock data file exists
stock_data_file = '../data/AMD_stock_data.csv'
if os.path.exists(stock_data_file):
    # If file exists, load it directly
    stock_data = pd.read_csv(stock_data_file)
else:
    # Download stock data
    ticker_symbol = 'AMD'
    start_date = options_data['date'].min()
    end_date = (pd.to_datetime(options_data['date'].max()) + pd.Timedelta(days=1)).date()

    stock_data = yf.download(ticker_symbol, start=start_date, end=end_date)

    # Save stock data
    stock_data.to_csv(stock_data_file, index=True)

print(options_data.info())
print(stock_data.info())

/var/folders/q5/69ygwl597nd8rn5pmqr01b580000gn/T/ipykernel_15957/2684269079.py:5: DtypeWarning: Columns (23,26,32) have mixed types. Specify dtype option on import or set low_memory=False.
  options_data = pd.read_csv('../data/AMD_options_data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 38 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   secid             1386118 non-null  int64
 1   date              1386118 non-null  object
 2   symbol            1386118 non-null  object
 3   symbol_flag       1386118 non-null  int64
 4   exdate            1386118 non-null  object
 5   last_date         1263749 non-null  object
 6   cp_flag           1386118 non-null  object
 7   strike_price      1386118 non-null  int64
 8   best_bid          1386118 non-null  float64
 9   best_offer        1386118 non-null  float64
 10  volume            1386118 non-null  int64
 11  open_interest     1386118 non-null  int64
 12  impl_volatility   1166644 non-null  float64
 13  delta             1166644 non-null  float64
 14  gamma             1166644 non-null  float64
 15  vega              1166644 non-null  float64
 16  theta             1166644 non-null  float64
 17  optionid          1386118 non-null  int64
 18  cfadj             1386118 non-null  int64
 19  am_settlement     1386118 non-null  int64
 20  contract_size     1386118 non-null  int64
 21  ss_flag           1386118 non-null  int64
 22  forward_price     0 non-null        float64
 23  expiry_indicator  438126 non-null   object
 24  root              0 non-null        float64
 25  suffix            0 non-null        float64
 26  cusip             1386118 non-null  object
 27  ticker            1386118 non-null  object
 28  sic               1386118 non-null  int64
 29  index_flag        1386118 non-null  int64
 30  exchange_d        1386118 non-null  int64
 31  class             0 non-null        float64
 32  issue_type        1386118 non-null  object
 33  industry_group    34966 non-null    float64
 34  issuer            1386118 non-null  object
 35  div_convention    0 non-null        float64
 36  exercise_style    1386118 non-null  object
 37  am_set_flag       0 non-null        float64
dtypes: float64(14), int64(13), object(11)
memory usage: 401.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       252 non-null    object
 1   Open       252 non-null    float64
 2   High       252 non-null    float64
 3   Low        252 non-null    float64
 4   Close      252 non-null    float64
 5   Adj Close  252 non-null    float64
 6   Volume     252 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.9+ KB
None

## Clean data

In [3]:
options_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 38 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   secid             1386118 non-null  int64
 1   date              1386118 non-null  object
 2   symbol            1386118 non-null  object
 3   symbol_flag       1386118 non-null  int64
 4   exdate            1386118 non-null  object
 5   last_date         1263749 non-null  object
 6   cp_flag           1386118 non-null  object
 7   strike_price      1386118 non-null  int64
 8   best_bid          1386118 non-null  float64
 9   best_offer        1386118 non-null  float64
 10  volume            1386118 non-null  int64
 11  open_interest     1386118 non-null  int64
 12  impl_volatility   1166644 non-null  float64
 13  delta             1166644 non-null  float64
 14  gamma             1166644 non-null  float64
 15  vega              1166644 non-null  float64
 16  theta             1166644 non-null  float64
 17  optionid          1386118 non-null  int64
 18  cfadj             1386118 non-null  int64
 19  am_settlement     1386118 non-null  int64
 20  contract_size     1386118 non-null  int64
 21  ss_flag           1386118 non-null  int64
 22  forward_price     0 non-null        float64
 23  expiry_indicator  438126 non-null   object
 24  root              0 non-null        float64
 25  suffix            0 non-null        float64
 26  cusip             1386118 non-null  object
 27  ticker            1386118 non-null  object
 28  sic               1386118 non-null  int64
 29  index_flag        1386118 non-null  int64
 30  exchange_d        1386118 non-null  int64
 31  class             0 non-null        float64
 32  issue_type        1386118 non-null  object
 33  industry_group    34966 non-null    float64
 34  issuer            1386118 non-null  object
 35  div_convention    0 non-null        float64
 36  exercise_style    1386118 non-null  object
 37  am_set_flag       0 non-null        float64
dtypes: float64(14), int64(13), object(11)
memory usage: 401.9+ MB

In [4]:
options_data.isnull().sum()

secid                     0
date                      0
symbol                    0
symbol_flag               0
exdate                    0
last_date            122369
cp_flag                   0
strike_price              0
best_bid                  0
best_offer                0
volume                    0
open_interest             0
impl_volatility      219474
delta                219474
gamma                219474
vega                 219474
theta                219474
optionid                  0
cfadj                     0
am_settlement             0
contract_size             0
ss_flag                   0
forward_price       1386118
expiry_indicator     947992
root                1386118
suffix              1386118
cusip                     0
ticker                    0
sic                       0
index_flag                0
exchange_d                0
class               1386118
issue_type                0
industry_group      1351152
issuer                    0
div_convention      1386118
exercise_style            0
am_set_flag         1386118
dtype: int64

#### Drop all columns with all missing values and unnecessary categorical columns 

After dropping columns that do not have values, we have the remainging columns as below. We can drop more columns as we understand the nature of dataset and those columns may not influence our machine learning model. 

secid: Security ID, a unique identifier for each security.

date: Date of the options data.

symbol: Symbol of the security.
 
symbol_flag: Flag indicating the type of symbol.
 
exdate: Expiration date of the option.

last_date: Last trading date of the option.

cp_flag: Call (C) or Put (P) option flag.

strike_price: Strike price of the option.

best_bid: Best bid price for the option.

best_offer: Best offer price for the option.

volume: Volume of contracts traded.

open_interest: Open interest for the option.

impl_volatility: Implied volatility of the option.

delta: Delta value of the option.

gamma: Gamma value of the option.

vega: Vega value of the option.

theta: Theta value of the option.

optionid: Option ID, a unique identifier for each option.

cfadj: Adjustment factor for cash flow.

am_settlement: American-style settlement flag.

contract_size: Size of the contract.

ss_flag: Special security flag.

expiry_indicator: Expiry indicator, 'w' meaning weekly

cusip: CUSIP number, a unique identifier for securities in the U.S. and Canada.

ticker: Ticker symbol of the security.

sic: Standard Industrial Classification (SIC) code.

index_flag: Index security flag.

exchange_d: Exchange identifier.

issue_type: Type of issue.

industry_group: Industry group.

issuer: Issuer of the security.

exercise_style: Exercise style of the option (e.g., American or European).

In [5]:
# Drop all columns with all missing values
options_data.dropna(axis=1, how='all', inplace=True)

In [8]:
options_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 15 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1386118 non-null  object
 1   exdate           1386118 non-null  object
 2   cp_flag          1386118 non-null  object
 3   strike_price     1386118 non-null  int64
 4   best_bid         1386118 non-null  float64
 5   best_offer       1386118 non-null  float64
 6   volume           1386118 non-null  int64
 7   open_interest    1386118 non-null  int64
 8   impl_volatility  1166644 non-null  float64
 9   delta            1166644 non-null  float64
 10  gamma            1166644 non-null  float64
 11  vega             1166644 non-null  float64
 12  theta            1166644 non-null  float64
 13  contract_size    1386118 non-null  int64
 14  ticker           1386118 non-null  object
dtypes: float64(7), int64(4), object(4)
memory usage: 158.6+ MB

In [7]:

# Drop some more categorical columns
columns_to_drop =['secid', 'symbol', 'symbol_flag', 'last_date', 'optionid',
                  'cfadj', 'am_settlement', 'ss_flag', 'expiry_indicator', 
                  'exchange_d', 'issue_type', 'industry_group', 'issuer',
                  'cusip', 'sic', 'index_flag', 'exercise_style'] 
options_data = options_data.drop(columns=columns_to_drop)

#  0   date             1386118 non-null  object 
#  1   exdate           1386118 non-null  object 
#  2   cp_flag          1386118 non-null  object 
#  3   strike_price     1386118 non-null  int64  
#  4   best_bid         1386118 non-null  float64
#  5   best_offer       1386118 non-null  float64
#  6   volume           1386118 non-null  int64  
#  7   open_interest    1386118 non-null  int64  
#  8   impl_volatility  1166644 non-null  float64
#  9   delta            1166644 non-null  float64
#  10  gamma            1166644 non-null  float64
#  11  vega             1166644 non-null  float64
#  12  theta            1166644 non-null  float64
#  13  contract_size    1386118 non-null  int64  
#  14  ticker           1386118 non-null  object

#### Convert date columns to datetime

In [9]:
options_data['date'] = pd.to_datetime(options_data['date'])
options_data['exdate'] = pd.to_datetime(options_data['exdate'])

#### Check for dupplicates

In [10]:
options_data.drop_duplicates(inplace=True)

#### Check missing values

We observed that there are significant number of missing values of the columns : impl_volatility, and the Greeks. let us drop all these rows

In [14]:
options_data.isnull().sum()

secid                     0
date                      0
symbol                    0
symbol_flag               0
exdate                    0
last_date            122369
cp_flag                   0
strike_price              0
best_bid                  0
best_offer                0
volume                    0
open_interest             0
impl_volatility      219474
delta                219474
gamma                219474
vega                 219474
theta                219474
optionid                  0
cfadj                     0
am_settlement             0
contract_size             0
ss_flag                   0
expiry_indicator     947992
cusip                     0
ticker                    0
sic                       0
index_flag                0
exchange_d                0
issue_type                0
industry_group      1351152
issuer                    0
exercise_style            0
dtype: int64

In [22]:
options_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 32 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   secid             1386118 non-null  int64
 1   date              1386118 non-null  datetime64[ns]
 2   symbol            1386118 non-null  object
 3   symbol_flag       1386118 non-null  int64
 4   exdate            1386118 non-null  datetime64[ns]
 5   last_date         1263749 non-null  datetime64[ns]
 6   cp_flag           1386118 non-null  object
 7   strike_price      1386118 non-null  int64
 8   best_bid          1386118 non-null  float64
 9   best_offer        1386118 non-null  float64
 10  volume            1386118 non-null  int64
 11  open_interest     1386118 non-null  int64
 12  impl_volatility   1166644 non-null  float64
 13  delta             1166644 non-null  float64
 14  gamma             1166644 non-null  float64
 15  vega              1166644 non-null  float64
 16  theta             1166644 non-null  float64
 17  optionid          1386118 non-null  int64
 18  cfadj             1386118 non-null  int64
 19  am_settlement     1386118 non-null  int64
 20  contract_size     1386118 non-null  int64
 21  ss_flag           1386118 non-null  int64
 22  expiry_indicator  438126 non-null   object
 23  cusip             1386118 non-null  object
 24  ticker            1386118 non-null  object
 25  sic               1386118 non-null  int64
 26  index_flag        1386118 non-null  int64
 27  exchange_d        1386118 non-null  int64
 28  issue_type        1386118 non-null  object
 29  industry_group    34966 non-null    float64
 30  issuer            1386118 non-null  object
 31  exercise_style    1386118 non-null  object
dtypes: datetime64[ns](3), float64(8), int64(13), object(8)
memory usage: 338.4+ MB

In [12]:
options_data.describe()

,secid,date,symbol_flag,exdate,last_date,strike_price,best_bid,best_offer,volume,open_interest,...,theta,optionid,cfadj,am_settlement,contract_size,ss_flag,sic,index_flag,exchange_d,industry_group
count,1.386118e+06,1386118,1386118.0,1386118,1263749,1.386118e+06,1.386118e+06,1.386118e+06,1.386118e+06,1.386118e+06,...,1.166644e+06,1.386118e+06,1.386118e+06,1386118.0,1.386118e+06,1.386118e+06,1.386118e+06,1386118.0,1.386118e+06,34966.0
mean,1.070417e+05,2022-08-17 21:50:40.369723648,1.0,2023-01-24 03:49:43.803110144,2022-08-07 14:54:13.228924416,1.640545e+05,3.690964e+01,3.829978e+01,2.198346e+02,1.229064e+03,...,-1.884714e+01,1.456505e+08,1.289638e+00,0.0,1.035489e+02,4.929018e-02,3.671402e+03,0.0,3.778453e+00,814.0
min,1.011210e+05,2022-02-28 00:00:00,1.0,2022-03-04 00:00:00,2020-11-04 00:00:00,5.000000e+03,0.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,...,-1.014567e+03,1.326510e+08,1.000000e+00,0.0,1.000000e+02,0.000000e+00,3.571000e+03,0.0,1.000000e+00,814.0
25%,1.011210e+05,2022-05-17 00:00:00,1.0,2022-08-19 00:00:00,2022-05-06 00:00:00,8.500000e+04,8.500000e-01,1.200000e+00,0.000000e+00,7.000000e+00,...,-2.116794e+01,1.432925e+08,1.000000e+00,0.0,1.000000e+02,0.000000e+00,3.674000e+03,0.0,4.000000e+00,814.0
50%,1.083210e+05,2022-08-15 00:00:00,1.0,2022-12-23 00:00:00,2022-08-04 00:00:00,1.300000e+05,1.095000e+01,1.175000e+01,1.000000e+00,1.590000e+02,...,-9.868769e+00,1.462113e+08,1.000000e+00,0.0,1.000000e+02,0.000000e+00,3.674000e+03,0.0,4.000000e+00,814.0
75%,1.083210e+05,2022-11-15 00:00:00,1.0,2023-04-21 00:00:00,2022-11-07 00:00:00,2.150000e+05,4.620000e+01,4.850000e+01,2.875000e+01,9.540000e+02,...,-3.972248e+00,1.486739e+08,1.000000e+00,0.0,1.000000e+02,0.000000e+00,3.674000e+03,0.0,5.000000e+00,814.0
max,1.292170e+05,2023-02-28 00:00:00,1.0,2025-06-20 00:00:00,2023-02-28 00:00:00,6.000000e+05,4.853000e+02,4.915500e+02,1.764690e+05,9.757500e+04,...,8.139670e+00,1.529181e+08,4.000000e+00,0.0,1.720000e+02,1.000000e+00,3.674000e+03,0.0,5.000000e+00,814.0
std,5.158950e+03,NaN,0.0,NaN,NaN,1.096561e+05,5.998198e+01,6.119734e+01,1.725485e+03,3.150095e+03,...,3.203529e+01,4.248854e+06,8.860156e-01,0.0,1.558608e+01,2.164733e-01,1.615148e+01,0.0,1.364680e+00,0.0

In [16]:
options_data.head()

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,expiry_indicator,cusip,ticker,sic,index_flag,exchange_d,issue_type,industry_group,issuer,exercise_style
0,101121,2022-02-28,AMD 220304P143000,1,2022-03-04,2022-02-28,P,143000,18.30,21.70,...,w,790310,AMD,3674,0,5,0,NaN,ADVANCED MICRO DEVICES INC.,A
1,101121,2022-02-28,AMD 220304P144000,1,2022-03-04,2022-02-22,P,144000,19.65,22.55,...,w,790310,AMD,3674,0,5,0,NaN,ADVANCED MICRO DEVICES INC.,A
2,101121,2022-02-28,AMD 220304P145000,1,2022-03-04,2022-02-28,P,145000,20.45,23.70,...,w,790310,AMD,3674,0,5,0,NaN,ADVANCED MICRO DEVICES INC.,A
3,101121,2022-02-28,AMD 220304P146000,1,2022-03-04,2022-02-28,P,146000,21.30,24.75,...,w,790310,AMD,3674,0,5,0,NaN,ADVANCED MICRO DEVICES INC.,A
4,101121,2022-02-28,AMD 220304P147000,1,2022-03-04,2022-02-28,P,147000,23.50,25.75,...,w,790310,AMD,3674,0,5,0,NaN,ADVANCED MICRO DEVICES INC.,A

In [17]:
import pandas as pd

# Assuming df is your dataframe
pd.set_option('display.max_columns', None)  # This sets the maximum number of columns to display to None, meaning display all columns
print(options_data.head())  # Print the head rows of the dataframe

    secid       date             symbol  symbol_flag     exdate  last_date  \
0  101121 2022-02-28  AMD 220304P143000            1 2022-03-04 2022-02-28
1  101121 2022-02-28  AMD 220304P144000            1 2022-03-04 2022-02-22
2  101121 2022-02-28  AMD 220304P145000            1 2022-03-04 2022-02-28
3  101121 2022-02-28  AMD 220304P146000            1 2022-03-04 2022-02-28
4  101121 2022-02-28  AMD 220304P147000            1 2022-03-04 2022-02-28

  cp_flag  strike_price  best_bid  best_offer  volume  open_interest  \
0       P        143000     18.30       21.70       1             43
1       P        144000     19.65       22.55       0              8
2       P        145000     20.45       23.70       3            154
3       P        146000     21.30       24.75      10             72
4       P        147000     23.50       25.75       6             86

   impl_volatility     delta     gamma      vega      theta   optionid  cfadj  \
0         0.919996 -0.931618  0.011129  1.700479  -71.04977  144642442      1
1         1.009123 -0.921234  0.011298  1.898582  -86.91409  144642443      1
2         1.029200 -0.926204  0.010543  1.805097  -84.34332  144642444      1
3         1.032943 -0.933979  0.009645  1.653858  -77.66636  144642445      1
4         1.347105 -0.879729  0.011528  2.587893 -158.53520  144642446      1

   am_settlement  contract_size  ss_flag expiry_indicator   cusip ticker  \
0              0            100        0                w  790310    AMD
1              0            100        0                w  790310    AMD
2              0            100        0                w  790310    AMD
3              0            100        0                w  790310    AMD
4              0            100        0                w  790310    AMD

    sic  index_flag  exchange_d issue_type  industry_group  \
0  3674           0           5          0             NaN
1  3674           0           5          0             NaN
2  3674           0           5          0             NaN
3  3674           0           5          0             NaN
4  3674           0           5          0             NaN

                        issuer exercise_style
0  ADVANCED MICRO DEVICES INC.              A
1  ADVANCED MICRO DEVICES INC.              A
2  ADVANCED MICRO DEVICES INC.              A
3  ADVANCED MICRO DEVICES INC.              A
4  ADVANCED MICRO DEVICES INC.              A

In [21]:
options_data['exercise_style'].unique()

# industry_group, secid, cfadj, optionid, am_settlement, ss_flag, expiry_indicator, cusid, symbol, symbol_flag, sic, index_flag, exchange_d, issue_type, industry_group, issuer, exercise_style
# expiry_indicator, exchange_d, issue_type, industry_group, issuer
# cusid, sic, index_flag

array(['A'], dtype=object)

### Marge data

In [16]:

# Select relevant columns
selected_columns = ['date', 'exdate', 'cp_flag', 'strike_price', 'best_bid', 'best_offer', 
                    'impl_volatility', 'delta', 'gamma', 'vega', 'theta']

options_data = options_data[selected_columns].copy()
options_data['date'] = pd.to_datetime(options_data['date']).dt.date
print(options_data.info())

# stock_data = stock_data[['Date', 'Adj Close', 'Volume']].copy()
stock_data = stock_data.rename(columns={'Date':'date'})
stock_data['date'] = pd.to_datetime(stock_data['date']).dt.date
print(stock_data.info())

merged_data_file = '../data/AMD_merged_data.csv'
if os.path.exists(merged_data_file):
    merged_data = pd.read_csv(merged_data_file)
else:
    # Merge datasets based on date using inner join
    merged_data = pd.merge(options_data, stock_data, on='date')
    merged_data.to_csv('../data/AMD_merged_data.csv', index=False)


print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1386118 non-null  object
 1   exdate           1386118 non-null  object
 2   cp_flag          1386118 non-null  object
 3   strike_price     1386118 non-null  int64
 4   best_bid         1386118 non-null  float64
 5   best_offer       1386118 non-null  float64
 6   impl_volatility  1166644 non-null  float64
 7   delta            1166644 non-null  float64
 8   gamma            1166644 non-null  float64
 9   vega             1166644 non-null  float64
 10  theta            1166644 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 116.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       252 non-null    object
 1   Adj Close  252 non-null    float64
 2   Volume     252 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1386118 non-null  object
 1   exdate           1386118 non-null  object
 2   cp_flag          1386118 non-null  object
 3   strike_price     1386118 non-null  int64
 4   best_bid         1386118 non-null  float64
 5   best_offer       1386118 non-null  float64
 6   impl_volatility  1166644 non-null  float64
 7   delta            1166644 non-null  float64
 8   gamma            1166644 non-null  float64
 9   vega             1166644 non-null  float64
 10  theta            1166644 non-null  float64
 11  Adj Close        1386118 non-null  float64
 12  Volume           1386118 non-null  int64
dtypes: float64(8), int64(2), object(3)
memory usage: 137.5+ MB
None

In [17]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1386118 non-null  object
 1   exdate           1386118 non-null  object
 2   cp_flag          1386118 non-null  object
 3   strike_price     1386118 non-null  int64
 4   best_bid         1386118 non-null  float64
 5   best_offer       1386118 non-null  float64
 6   impl_volatility  1166644 non-null  float64
 7   delta            1166644 non-null  float64
 8   gamma            1166644 non-null  float64
 9   vega             1166644 non-null  float64
 10  theta            1166644 non-null  float64
 11  Adj Close        1386118 non-null  float64
 12  Volume           1386118 non-null  int64
dtypes: float64(8), int64(2), object(3)
memory usage: 137.5+ MB
None

### Clean data

In [18]:
data = merged_data.dropna().copy()

# Convert date columns to datetime
data['date'] = pd.to_datetime(data['date'])
data['exdate'] = pd.to_datetime(data['exdate'])


# Example of outlier removal for numeric columns (you can adjust the threshold based on your data)
numeric_columns = ['strike_price', 'best_bid', 'best_offer', 'impl_volatility', 'delta', 'gamma', 'vega', 'theta', 'Adj Close', 'Volume']
for col in numeric_columns:
    Q1 = merged_data[col].quantile(0.25)
    Q3 = merged_data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outlier_data = merged_data[(merged_data[col] >= lower_bound) & (merged_data[col] <= upper_bound)]

# Check the cleaned data
print(outlier_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1362240 entries, 0 to 1386117
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1362240 non-null  object
 1   exdate           1362240 non-null  object
 2   cp_flag          1362240 non-null  object
 3   strike_price     1362240 non-null  int64
 4   best_bid         1362240 non-null  float64
 5   best_offer       1362240 non-null  float64
 6   impl_volatility  1146412 non-null  float64
 7   delta            1146412 non-null  float64
 8   gamma            1146412 non-null  float64
 9   vega             1146412 non-null  float64
 10  theta            1146412 non-null  float64
 11  Adj Close        1362240 non-null  float64
 12  Volume           1362240 non-null  int64
dtypes: float64(8), int64(2), object(3)
memory usage: 145.5+ MB
None

In [19]:
outlier_data.describe()

,strike_price,best_bid,best_offer,impl_volatility,delta,gamma,vega,theta,Adj Close,Volume
count,1.362240e+06,1.362240e+06,1.362240e+06,1.146412e+06,1.146412e+06,1.146412e+06,1.146412e+06,1.146412e+06,1.362240e+06,1.362240e+06
mean,1.638915e+05,3.687146e+01,3.825431e+01,6.528334e-01,-9.500788e-03,9.288305e-03,1.646931e+01,-1.883926e+01,8.479102e+01,8.493306e+07
std,1.095931e+05,5.991825e+01,6.112931e+01,3.339461e-01,5.884128e-01,1.368124e-02,2.152126e+01,3.205152e+01,1.642251e+01,2.611119e+07
min,5.000000e+03,0.000000e+00,1.000000e-02,8.018000e-02,-9.999280e-01,0.000000e+00,5.160000e-04,-1.014567e+03,5.594000e+01,2.601890e+07
25%,8.500000e+04,8.500000e-01,1.190000e+00,4.811200e-01,-4.265110e-01,1.694000e-03,2.104176e+00,-2.116417e+01,7.245000e+01,6.655780e+07
50%,1.300000e+05,1.095000e+01,1.175000e+01,5.558010e-01,1.512000e-03,4.522000e-03,7.876283e+00,-9.864411e+00,8.464000e+01,8.349360e+07
75%,2.150000e+05,4.615000e+01,4.845000e+01,6.948887e-01,3.884873e-01,1.094500e-02,2.216930e+01,-3.971274e+00,9.693000e+01,1.006094e+08
max,6.000000e+05,4.853000e+02,4.915500e+02,2.999406e+00,9.999960e-01,3.568210e-01,1.536658e+02,8.139670e+00,1.233400e+02,1.531298e+08

In [20]:
data.describe()

,date,exdate,strike_price,best_bid,best_offer,impl_volatility,delta,gamma,vega,theta,Adj Close,Volume
count,1166644,1166644,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06,1.166644e+06
mean,2022-08-19 11:53:22.749768448,2023-02-01 21:27:38.430850816,1.590629e+05,2.972666e+01,3.089889e+01,6.532276e-01,-1.093080e-02,9.271234e-03,1.646618e+01,-1.884714e+01,8.475904e+01,8.639347e+07
min,2022-02-28 00:00:00,2022-03-04 00:00:00,5.000000e+03,0.000000e+00,1.000000e-02,8.018000e-02,-9.999280e-01,0.000000e+00,5.160000e-04,-1.014567e+03,5.594000e+01,2.601890e+07
25%,2022-05-18 00:00:00,2022-08-26 00:00:00,8.300000e+04,6.300000e-01,8.000000e-01,4.814620e-01,-4.304412e-01,1.695000e-03,2.109112e+00,-2.116794e+01,7.245000e+01,6.655780e+07
50%,2022-08-15 00:00:00,2022-12-30 00:00:00,1.250000e+05,7.850000e+00,8.400000e+00,5.562720e-01,1.490000e-03,4.514000e-03,7.883527e+00,-9.868769e+00,8.464000e+01,8.380670e+07
75%,2022-11-16 00:00:00,2023-04-21 00:00:00,2.050000e+05,3.505000e+01,3.680000e+01,6.954575e-01,3.862302e-01,1.091800e-02,2.219063e+01,-3.972248e+00,9.693000e+01,1.016726e+08
max,2023-02-28 00:00:00,2025-06-20 00:00:00,6.000000e+05,4.825000e+02,4.865500e+02,2.999406e+00,9.999960e-01,3.568210e-01,1.536658e+02,8.139670e+00,1.233400e+02,2.253941e+08
std,NaN,NaN,1.073532e+05,5.161338e+01,5.285049e+01,3.339506e-01,5.886337e-01,1.365108e-02,2.148920e+01,3.203529e+01,1.635851e+01,2.900568e+07

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386118 entries, 0 to 1386117
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1386118 non-null  datetime64[ns]
 1   exdate           1386118 non-null  datetime64[ns]
 2   cp_flag          1386118 non-null  object
 3   strike_price     1386118 non-null  int64
 4   best_bid         1386118 non-null  float64
 5   best_offer       1386118 non-null  float64
 6   impl_volatility  1166644 non-null  float64
 7   delta            1166644 non-null  float64
 8   gamma            1166644 non-null  float64
 9   vega             1166644 non-null  float64
 10  theta            1166644 non-null  float64
 11  Adj Close        1386118 non-null  float64
 12  Volume           1386118 non-null  int64
dtypes: datetime64[ns](2), float64(8), int64(2), object(1)
memory usage: 137.5+ MB

In [22]:
data.head()

,date,exdate,cp_flag,strike_price,best_bid,best_offer,impl_volatility,delta,gamma,vega,theta,Adj Close,Volume,dte,moneyness
0,2022-02-28,2022-03-04,P,143000,18.30,21.70,0.919996,-0.931618,0.011129,1.700479,-71.04977,123.339996,124666100,4,0.000863
1,2022-02-28,2022-03-04,P,144000,19.65,22.55,1.009123,-0.921234,0.011298,1.898582,-86.91409,123.339996,124666100,4,0.000857
2,2022-02-28,2022-03-04,P,145000,20.45,23.70,1.029200,-0.926204,0.010543,1.805097,-84.34332,123.339996,124666100,4,0.000851
3,2022-02-28,2022-03-04,P,146000,21.30,24.75,1.032943,-0.933979,0.009645,1.653858,-77.66636,123.339996,124666100,4,0.000845
4,2022-02-28,2022-03-04,P,147000,23.50,25.75,1.347105,-0.879729,0.011528,2.587893,-158.53520,123.339996,124666100,4,0.000839

In [21]:

# Step 3: Feature Engineering, compute days to expiration
data['dte'] = (data['exdate'] - data['date']).dt.days
data['moneyness'] = data['Adj Close'] / data['strike_price']

In [ ]:
# Convert date column to datetime if not already in datetime format
merged_data['date'] = pd.to_datetime(merged_data['date'])

# Filter rows for the end of February 28, 2022, and the beginning of March 1, 2022
filtered_rows = merged_data[(merged_data['date'] == '2022-02-28 23:59:59') | (merged_data['date'] == '2022-03-01 00:00:00')]

print(filtered_rows)

In [8]:
import yfinance as yf

# Define the stock symbol for which you want to fetch options data
stock_symbol = 'AMD'  # Example: Apple Inc.

# Create a Ticker object for the stock symbol
ticker = yf.Ticker(stock_symbol)

# Get options data
options_data = ticker.options

# Print the available expiration dates for options
print("Available expiration dates for options:")
print(options_data)

Available expiration dates for options:
('2024-04-05', '2024-04-12', '2024-04-19', '2024-04-26', '2024-05-03', '2024-05-10', '2024-05-17', '2024-05-24', '2024-06-21', '2024-07-19', '2024-08-16', '2024-09-20', '2024-10-18', '2024-11-15', '2024-12-20', '2025-01-17', '2025-03-21', '2025-06-20', '2025-08-15', '2025-10-17', '2025-11-21', '2025-12-19', '2026-01-16', '2026-06-18', '2026-12-18')